@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  font-family: "Lato", sans-serif;
  background-color: rgba(120, 119, 198, 0.3);
  position: absolute;
  top: 0;
  z-index: -2;
  height: 100vh;
  width: 100vw;
  background: white;
  scroll-behavior: smooth;
}

.primary_color {
  color: #0760f0;
}

.bg-primary {
  background-color: #0760f0;
}

.text-primary-blue {
  color: #0760f0;
}

h1 {
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

@media (min-width: 480px) {
  h1 {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3.5rem;
  }
}
h2 {
  font-size: 1.5rem; /* Tamaño de fuente más pequeño para móviles muy pequeños */
  font-weight: bold;
  text-align: center;
  color: #2d3748;
}

@media (min-width: 480px) {
  h2 {
    font-size: 2rem; /* Tamaño de fuente para móviles un poco más grandes */
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: 2.5rem; /* Tamaño de fuente para tabletas y superiores */
  }
}

@media (min-width: 1024px) {
  h2 {
    font-size: 3rem; 
    margin: 1rem
  }
}

h3 {
  font-weight: 700; /* Grosor de la h3 */
}

h4 {
  font-weight: 600; /* Grosor de la h4 */
}

h5 {
  font-weight: 500; /* Grosor de la h5 */
}

h6 {
  font-weight: 400; /* Grosor de la h6 */
}

p,
span {
  font-weight: 300; /* Hacer que los párrafos y spans sean thin */
  text-align: center;
  font-family: "Lato", sans-serif;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Estilos de Botones */
.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0760f0;
  color: white;
  font-weight: bold;
  padding: 1.5rem 1.5rem;
  margin: 0.25rem;
  border-radius: 9999px; /* un valor grande para hacer que el botón sea redondeado */

  transition: background-color 0.4s;
}

.btn-primary:hover {
  background-color: #1c2b56;
}

.btn-secundary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #0070ff; /* Cambiado a azul más oscuro */
  font-weight: bold;
  padding: 1.5rem 1.5rem;
  margin: 0.25rem;
  border-radius: 9999px;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.btn-secundary:hover {
  background-color: #1c2b56;
  color: #ffffff; /* Un tono más claro para el color de fondo al pasar el mouse */
}
.h2 {
  @apply text-2xl font-bold mb-8 text-center;
}

.h4 {
  @apply text-lg font-thin mb-5 text-center;
}

.h4_detailMatching {
  @apply text-sm font-bold mb-5 text-center;
}

.container_form {
  @apply flex justify-center items-center;
  flex-direction: row; /* Agregar flex direction columna */
  align-items: center; /* Centrar verticalmente */
  background-color: #ffffff; /* Color de fondo blanco */
  border-radius: 20px; /* Bordes redondeados más pronunciados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    /* Sombra superior */ 0 6px 8px rgba(0, 0, 0, 0.1),
    /* Sombra inferior */ 0 10px 12px rgba(0, 0, 0, 0.1); /* Sombra más grande */
  max-width: 80%; /* Ancho máximo del contenedor */
  max-height: 80%; /* Alto máximo del contenedor */
  overflow: auto; /* Añadir desplazamiento si el contenido es demasiado grande */
  padding: 30px; /* Aumentar el relleno */
  position: fixed; /* Fijar la posición */
  top: 50%; /* Centrar verticalmente */
  left: 50%; /* Centrar horizontalmente */
  transform: translate(-50%, -50%); /* Centrar exactamente */
}

.container_form_column {
  @apply flex justify-center items-center;
  flex-direction: column;
  align-items: center; /* Centrar verticalmente */
  background-color: #ffffff; /* Color de fondo blanco */
  border-radius: 20px; /* Bordes redondeados más pronunciados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    /* Sombra superior */ 0 6px 8px rgba(0, 0, 0, 0.1),
    /* Sombra inferior */ 0 10px 12px rgba(0, 0, 0, 0.1); /* Sombra más grande */
  max-width: 80%; /* Ancho máximo del contenedor */
  max-height: 80%; /* Alto máximo del contenedor */
  overflow: auto; /* Añadir desplazamiento si el contenido es demasiado grande */
  padding: 30px; /* Aumentar el relleno */
  margin: 2rem;
  position: fixed; /* Fijar la posición */
  top: 50%; /* Centrar verticalmente */
  left: 50%; /* Centrar horizontalmente */
  transform: translate(-50%, -50%); /* Centrar exactamente */
}

.h5_form {
  @apply mb-2 text-xl font-normal tracking-tight text-gray-900 dark:text-white;
}

.card_form {
  @apply flex flex-col justify-center items-center w-96 h-20 mx-4 my-3 bg-blue-600 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-blue-500 dark:border-gray-700 dark:hover:bg-blue-600;
}

.container_buttons {
  display: flex;
  align-items: center;
  justify-content: baseline;
  margin-top: 2rem;
  text-align: center;
}

@media (max-width: 480px) {
  .container_buttons {
    justify-content: flex-start;
    text-align: left;
  }
}

@media (min-width: 481px) and (max-width: 1023px) {
  .container_buttons {
    justify-content: center;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .container_buttons {
    text-align: left;
    justify-content: center;
  }
}

.card_matching {
  @apply flex flex-col justify-center items-center mx-4 my-3 p-3 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:hover:bg-blue-600;
  width: auto;
  min-width: max-content;
  flex-grow: 1;
  height: auto;
  min-height: max-content;
}

.p {
  @apply mb-3 font-light text-gray-700 dark:text-gray-400;
}

.container_form_trade {
  @apply grid grid-cols-3 gap-6;
  background-color: #f0f0f0; /* Agregar color de fondo */
  border-radius: 10px; /* Agregar bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
    /* Sombra superior */ 0 4px 6px rgba(0, 0, 0, 0.1),
    /* Sombra inferior */ 0 8px 10px rgba(0, 0, 0, 0.1); /* Sombra más grande */
  max-width: 90%; /* Ancho máximo del contenedor */
  max-height: 90%; /* Alto máximo del contenedor */
  overflow: auto; /* Añadir desplazamiento si el contenido es demasiado grande */
  padding: 20px; /* Ajustar el relleno */
  position: fixed; /* Fijar la posición */
  top: 50%; /* Centrar verticalmente */
  left: 50%; /* Centrar horizontalmente */
  transform: translate(-50%, -50%);
}

.h5_card_bloque {
  @apply flex justify-center items-center font-semibold;
}

.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  border-color: #68d391;
}

.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  background-color: #68d391;
}

.wrong-error-input {
  border-color: #ec4899;
}

.blog-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  font-size: 18px;
}

.blog-text {
  font-family: "Ubuntu", sans-serif;
  color: #000000;
  text-align: center;
  line-height: 2;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.item-enter {
  opacity: 0;
  transform: scale(0.9);
}

.item-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.blog-image {
  height: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 10px;
}

.blog-image img {
  height: 70%;
  width: 70%;
  object-fit: cover;
}

.custom-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #0760f0;
}

@media (min-width: 768px) {
  .custom-card {
    flex-direction: row;
  }
}

.checkbox {
  width: 1rem;
  height: 1rem;
  color: #0760f0;
  background-color: #f3f4f6;
  border-color: #d1d5db;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.checkbox-label {
  margin-left: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #4b5563;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
